.home .carousel-item
{
    min-height: 80vh;
    background-repeat: center;
    background-size:cover;
    position:relative;
    z-index:1;
}







#img1
{
    background-image:url("https://images.pexels.com/photos/143133/pexels-photo-143133.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");

}

#img2
{
    background-image:url("https://images.pexels.com/photos/1253193/pexels-photo-1253193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#img3
{
    background-image:url("https://images.pexels.com/photos/5231236/pexels-photo-5231236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
