
.home .carousel-item
{
    min-height: 80vh;
    background-repeat: center;
    background-size:cover;
    position:relative;
    z-index:1;
}

.home .carousel-item .container
{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    text-align:center;


}


.home .carousel-item h2{
    font-size:80px;
    color:white;
    margin: 0 0 10px;
    opacity:0;
}





#img1
{
    background-image:url("https://images.pexels.com/photos/5644323/pexels-photo-5644323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

}

#img2
{
    background-image:url("https://images.pexels.com/photos/1253193/pexels-photo-1253193.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#img3
{
    background-image:url("https://images.pexels.com/photos/5231236/pexels-photo-5231236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}


body{
    margin:0;
    padding:0;


    text-align: center;
}

h2{
    color:whitesmoke;
}
