{% extends 'base.html' %}
{%  load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock head %}
{% block content %}


<section class="home">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-controls">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
              </ol>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" id="img1">

            </div>

          <div class="carousel-item" id="img2">

          </div>
          <div class="carousel-item" id="img3">

          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</section>
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="jumbotron">
                <h1 class="display-4">KRISHIMANDI</h1>
                <p class="lead">eKrishimandi is a pan-India electronic trading portal which networks the existing APMC mandis to create a unified national market for agricultural commodities.Small Farmers Agribusiness Consortium (SFAC) is the lead agency for implementing eKrishimandi under the aegis of Ministry of Agriculture and Farmers’ Welfare, Government of India.</p>
                <hr class="my-4">
                <p>Integration of APMCs across the country through a common online market platform to facilitate pan-India trade in agriculture commodities, providing better price discovery through transparent auction process based on quality of produce along with timely online payment.</p>
                <p class="lead">
                  {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
                </p>
              </div>
        </div>



        <div class="col-md-5">
            <img src="https://images.pexels.com/photos/3066025/pexels-photo-3066025.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" style="width:500px;height:300px;" alt="">
        </div>
    </div>
</div>
<br><br>
<footer class="bg-dark text-center text-white mx-0 px-0">
  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©️ 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">eKrishimandi</a>
  </div>
  <!-- Copyright -->
</footer>










{% endblock content %}
